*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F9FA; /*Fondo general */
}

.canvas{
    width: 500px;
    height: 500px;
    background-color: white; /*fondo blanco*/
    border: 8px solid black; /*borde negro grueso*/
    position: relative; /*posicion relativa dentro*/
}

.red{
    background-color: #E63946;
    position:absolute;
    width: 60%;
    height: 60%;
    top: 0;
    left: 0;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
}

.yellow{
    background-color: #F1C40F;
    position:absolute;
    width: 40%;
    height: 40%;
    top: 0;
    right: 0;
    border-bottom: 8px solid black;
}

.blackk{ /* doble KK que si no coje el color negro*/
    background-color: #000;
    position:absolute;
    width: 30%; /*gran bloque negro */
    height: 40%;
    bottom: 0;
    left: 0;
    border-right: 8px solid black;
}

.gris-1{
    background-color: grey;
    position:absolute;
    width: 30%;
    height: 20%;
    bottom: 0;
    left: 30%;
    border: 8px solid;
}

.gris-2{
    background-color: grey;
    position:absolute;
    width: 30%;
    height: 20%;
    bottom: 20%;
    left: 30%;
    border: 8px solid;
}

.bluee{
    background-color: #1D4ED8;
    position:absolute;
    width: 40%;
    height: 20%;
    bottom: 0;
    right: 0;
    border-bottom: 8px solid;
    border-top: 8px solid;
    display: flex;
}

.white-3{
    background-color: #F8F9FA;
    position:absolute;
    width: 48%;
    height: 30%;
    bottom: 10%;
    right: 0%;
    border-top: 8px solid;
    float: right;
}

.white-2{
    background-color: #F8F9FA;
    position:absolute;
    width: 20%;
    height: 39%;
    top: 25%;
    right: 0%;
    border-bottom: 8px solid black;
    border-left: 8px solid;
    border-top: 8px solid;
}

.white-1{
    background-color: #F8F9FA;
    position:absolute;
    width: 20%; /* dos rectangulos blancos */
    height: 40%;
    top: 25%;
    right: 20%;
    border-top: 8px solid;
}