        .color_azul{
            color: blue;
        }
        .color_o{
            color: rgb(174, 132, 74);
        }
        p{
            color: blueviolet;

        }
        h2¨{
            color: blue;
            margin: 20px;
            border: 2px;
            padding: 40px;
        }